
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');


.card {
    display: grid;
    margin: 10px;
    padding: 10px;
    font-family: 'Source Serif Pro', serif;
    line-height: 2;
    
    .image {
        width: 20%;
        float: center;
        margin: 40%;
    }

    .card-contents {
        border: 2px solid whitesmoke;
    }

    p {
        display: block;
        align-items: flex-start;
        margin: 10px;
    }
}

.card:hover {
    box-shadow: inset 0 0 0 10em white;
}

.card-contents:hover {
    box-shadow: inset 0 0 0 10em white;
}



