@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');


.home {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}

 .home_button {
    text-decoration: none;
    color: white;
    font-family: 'Source Serif Pro', serif;
    font-size: 30px;
    margin-left: 20px;
    border-radius: 15px;
    border: 0.5px solid white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
 }

 .contact_button {
    text-decoration: none;
    color: white;
    font-family: 'Source Serif Pro', serif;
    font-size: 30px;
    margin-left: 20px;
    border-radius: 15px;
    border: 0.5px solid white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
 }

 .shop_button {
    text-decoration: none;
    color: white;
    font-family: 'Source Serif Pro', serif;
    font-size: 30px;
    margin-left: 20px;
    border-radius: 15px;
    border: 0.5px solid white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
 }